<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
      <!-- Form area -->
      <div style="background-color: rgb(218, 218, 218);">
        <p>Entertainment Event Ticket Search</p>
        <div>
          <p style="display: inline;">Keyword<span style="color:red;">* </span></p>
          <form class="example-form" style="display: inline;">
            <!-- Initial display part -->
            <input type="text" class="form-control"
              *ngIf="keywordInvalid == false"
              placeholder="Enter Artist, Team or Event Name (eg. Lakers)"
              aria-label="Number"
              matInput
              [formControl]="keywordControl"
              [matAutocomplete]="auto"
              style="display: inline; width: 300px">

              <!-- When input keyword is invalid, display this part -->
              <input type="text"
              *ngIf="keywordInvalid == true"
              placeholder="Enter Artist, Team or Event Name (eg. Lakers)"
              aria-label="Number"
              matInput
              [formControl]="keywordControl"
              [matAutocomplete]="auto"
              style="display: inline; width: 300px; border: 3px solid red;">

              <!-- Error message -->
              <div *ngIf="keywordInvalid == true" style="color: red;">Please enter a keyword</div>

              <!-- Autocomplete -->
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
          </form>
        </div>
        <br>

        <div ngbDropdown style="display: inline;">
          <p style="display: inline;">Category</p>
          <select name="" id="category" class="form-control" style="width: 150px; display: inline;" data-first-option="true" [(ngModel)]="formInfo.category">
        　　<option value="" class="">All</option>
            <option value="Music">Music</option>
            <option value="Sports">Sports</option>
            <option value="ArtsTheatre">Arts & Theatre</option>
            <option value="Films">Films</option>
            <option value="Miscellaneous">Miscellaneous</option>
          </select>
        </div>
        <br>

        <div ngbDropdown style="display: inline;">
          <p style="display: inline;">Distance</p>
          <input type="number" class="form-control" [(ngModel)]="formInfo.distance" placeholder="10" style="display: inline; width: 100px">
          <select id="category" class="form-control" style="width: 100px; display: inline;" data-first-option="true" [(ngModel)]="formInfo.distanceUnit">
        　　<option value="">Miles</option>
            <option value="Kilometers">Kilometers</option>
          </select>   
        </div>
        <br>

        <div>
          <p style="display: inline;">From<span style="color:red;">* </span></p>
          <div style="display: inline;">
          <label class="radio-inline">
            <input type="radio" class="radio" name="optionsRadiosinline" id="optionsRadios3" [(ngModel)]="formInfo.from" value="Here"> Current location
          </label>
          <br>
          <label class="radio-inline">
            <input type="radio" class="radio" name="optionsRadiosinline" id="optionsRadios4" [(ngModel)]="formInfo.from" value="Other"> Other. Please specify
          </label>
          <br>
          <input type="text" *ngIf="formInfo.from == 'Here'" class="form-control" [(ngModel)]="formInfo.fromLocation" style="display: inline; width: 300px" disabled>
          <input type="text" *ngIf="formInfo.from == 'Other' && locationInvalid == false" class="form-control" [(ngModel)]="formInfo.fromLocation" style="display: inline; width: 300px">
          <input type="text" *ngIf="formInfo.from == 'Other' && locationInvalid == true" class="form-control" [(ngModel)]="formInfo.fromLocation" style="display: inline; width: 300px; border: 3px solid red;">
          <div *ngIf="locationInvalid == true" style="color: red;">Please enter a location</div>
        </div>
      </div>
        
        <div>
          <button type="button" *ngIf="getCurrentLocation == false" class="btn btn-primary btn-sm" (click)="doSubmit()" disabled>
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
          <button type="button" *ngIf="getCurrentLocation == true" class="btn btn-primary btn-sm" (click)="doSubmit()">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="clearForm()">
            <span class="glyphicon glyphicon-search"></span> Clear
          </button>
        </div>
      </div>
      
      <!-- Search results -->
      
      <!-- No records -->
      <div class="alert alert-warning" *ngIf="noEvents == true">
        No records.
      </div>

      
      <div *ngIf="noEvents == false && showEvents == true">
        <hr>
        <button type="button" class="btn btn-default btn-sm">
          Details<span class="material-icons">arrow_forward_ios</span>
        </button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Event</th>
              <th>Category</th>
              <th>Venue Info</th>
              <th>Favorite</th>
            </tr>
         </thead>
         <tbody *ngFor="let item of eventsContent; let i = index">
          <tr>
            <td>{{ i+1 }}</td>  <!-- Index starts from 1 -->
            <td>{{ item.dates.start.localDate }}</td>
            <td>
              <a href="#" ngbTooltip={{item.name}} (click)="getDetails(i)">
                {{ item.name }}
              </a>
            </td>
            <td>
              {{ item.classifications[0].subGenre.name }} | 
              {{ item.classifications[0].genre.name }} | 
              {{ item.classifications[0].segment.name }} | 
              {{ item.classifications[0].subType.name }} | 
              {{ item.classifications[0].type.name }}
            </td>
            <td>{{ item._embedded.venues[0].name }}</td>
            <td>
              <a href="#">
                <span class="glyphicon glyphicon-star-empty" style="color: black;"></span>
              </a>
            </td>
          </tr>
         </tbody>
        </table>
      </div>

      <!-- Details -->
      <div>
        <div>
          <a class="twitter-share-button"
            href={{twitterApi}} target="_blank">
            <img src="https://csci571.com/hw/hw8/images/Twitter.png" style="width: 40px; height: 40px;"></a>
          <!-- Nav bar -->
          <ul ngbNav #nav="ngbNav" [(activeId)]="navChosen" class="nav-tabs justify-content-end">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Event</a>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Artist/Team</a>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Venue</a>
            </li>
          </ul>        
          <div>Active: {{ navChosen }}</div>

          <!-- Content of each choice in nav bar -->

          <!-- Event tab -->
          <div *ngIf="navChosen == 1">
            <table class="table table-striped">
              <tbody>
                <tr *ngIf="detailContent.ArtistTeam != ''">
                  <td>Artist/Team</td>
                  <td>{{ detailContent.ArtistTeam }}</td>
                </tr>

                <tr *ngIf="detailContent.Venue != ''">
                  <td>Venue</td>
                  <td>{{ detailContent.Venue }}</td>
                </tr>

                <tr *ngIf="detailContent.Time != ''">
                  <td>Time</td>
                  <td>{{ detailContent.Time }}</td>
                </tr>

                <tr *ngIf="detailContent.Category != ''">
                  <td>Category</td>
                  <td>{{ detailContent.Category }}</td>
                </tr>

                <tr *ngIf="detailContent.PriceRange != ''">
                  <td>Price Range</td>
                  <td>{{ detailContent.PriceRange }}</td>
                </tr>

                <tr *ngIf="detailContent.TicketStatus != ''">
                  <td>Ticket Status</td>
                  <td>{{ detailContent.TicketStatus }}</td>
                </tr>

                <tr *ngIf="detailContent.BuyTicketAt != ''">
                  <td>Buy Ticket At</td>
                  <td><a href= {{detailContent.BuyTicketAt}} target="_blank">Ticketmaster</a></td>
                </tr>

                <tr *ngIf="detailContent.SeatMap != ''">
                  <td>Seat Map</td>
                  <td><a href={{detailContent.SeatMap}} target="_blank">View Seat Map Here</a></td>
                </tr>
                
              </tbody>
            </table>
          </div>

          <div *ngIf="navChosen == 2">
            bbb
          </div>

          <div *ngIf="navChosen == 3">
            <table class="table table-striped">
              <tbody>
                <tr *ngIf="venueDetailContent.Address != ''">
                  <td>Address</td>
                  <td>{{ venueDetailContent.Address }}</td>
                </tr>
                <tr *ngIf="venueDetailContent.City != ''">
                  <td>City</td>
                  <td>{{ venueDetailContent.City }}</td>
                </tr>
                <tr *ngIf="venueDetailContent.PhoneNumber != ''">
                  <td>Phone Number</td>
                  <td>{{ venueDetailContent.PhoneNumber }}</td>
                </tr>
                <tr *ngIf="venueDetailContent.OpenHours != ''">
                  <td>Open Hours</td>
                  <td>{{ venueDetailContent.OpenHours }}</td>
                </tr>
                <tr *ngIf="venueDetailContent.GeneralRule != ''">
                  <td>General Rule</td>
                  <td>{{ venueDetailContent.GeneralRule }}</td>
                </tr>
                <tr *ngIf="venueDetailContent.ChildRule != ''">
                  <td>Child Rule</td>
                  <td>{{ venueDetailContent.ChildRule }}</td>
                </tr>
              </tbody>
            </table>

            <h3>My Google Maps Demo</h3>
            <!--The div element for the map -->
            <div id="map"></div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script
              src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
              async
            ></script>
          </div>

        </div>
      </div>

  </body>

</html>
