<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <p>Search icon on a button:
        <button type="button" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span> Clear
        </button>
      </p>
    </div>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

</html>
